@use 'vars';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    @include vars.fontFamily();
}

.background-left{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../build/img/bg-main-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
}

.card{
    z-index: 20;
    // background-color: red;
    // width: 300px;
    // height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;


    /////// card front start ///////
    &__front{
        background-image: url('../../build/img/bg-card-front.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 280px;
        width: 500px;
        margin-bottom: 2em;
        position: relative;
    }

    &__frontContent{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
    }
    
    &__img{
        display: block;
        margin-bottom: 5em;
    }

    &__number{
        letter-spacing: 5px;
        @include vars.fontFamily(1.9em, 500)
    }

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include vars.fontFamily(.9em, normal)
    }

    /////// card front end ///////
    



    /////// card back start ///////

    &__back{
        background-image: url('../../build/img/bg-card-back.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 280px;
        width: 500px;
        margin-left: 5em;
        position: relative;
    }

    &__backContent{
        position: absolute;
        padding: 5em;
        right: 0;
        top: 16%;
    }

    /////// card back end /////// 
    



    /////// form start /////// 
    &__form{
        display: flex;
        flex-direction: column;
        gap: 1em;
        @include vars.fontFamily(normal, normal, vars.$colorPurple);
        width: 400px;
    }


}



